

.confirm-password-container{
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100vh;
    margin-top: 9rem;
    .heading{
        font-size: 32px;
        margin-top: 41px;
        margin-bottom: 62px;
    }
}