.heading {
  background: linear-gradient(270deg, #2b48f4 84%, #34a5ff 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 20px;
}
