.otp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  

  input {
    height: 50px;
    border-radius: 12px;
    border: 1px solid #dcdde5;
    font-weight: 700;
    &:focus {
      border-color: #0d99ff;
      outline: #0d99ff;
    }
  }
  // input:not(:last-child) {
  //   margin-right: 40px;
  // }
}
