.investment-tag {
    background: rgba(138, 133, 149, 0.1);
    border-radius: 60px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: #4E4760;
    padding: 8px 10px;
    margin-bottom: 0px;
    margin-right: 10px;
}