.ant-modal-close {
    top: 27px !important;
    right: 34px !important;
}

.ant-modal-body {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px !important;
}

.ant-modal {
    padding: 81px 47px 67px 47px !important;
    background: #140A2B;
    border-radius: 40px;
}

.ant-modal-content {
    position: unset !important;
    background: transparent !important;
    padding: 0px !important;
}

.ant-modal-close-x {
    color: white;
    // display: none !important;
}